body{
  margin-top: 50px;
}

button{
  border: none;
  cursor: pointer;
}

.grid-item{
  width: 100%;
}

.btn{
  &:focus,&:active{
    outline: none;
    box-shadow: none;
    border: none;
  }
}

.card{
  flex-direction: row;
  align-items: center;
  .card-img, .modal-img{
    flex: 0 0 39px;
    height: 150px;
    background: center center no-repeat;
    background-size: contain;
    margin: 15px;
  }
}

.modal-img{
  width: 39px;
  height: 150px;
  background: center center no-repeat;
  background-size: contain;
  margin: 15px;
}

